.modal {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 400px;
  width: 200px;
  color: black;
}

.popup-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
